body {
  margin: 0;
  padding: 0;
  font-family:Arial;
  background-color: lightblue;

}
.loginbox{
  width:500px;
  height:250px;
  position:absolute;
  border:1px solid #465468;
  top:50%;
  left:50%;
  margin-left: -240px;
  margin-top: -140px;
}
.loginhead{
  text-align:center;
}
.user{
  padding:10px;
}
.input{
  padding:10px;
}
.psw{
  padding:10px;
}
.btn{
  margin-left:40px;
}
